.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // padding: calc(var(--padding) * 0.8) calc(var(--padding) * 0.8);
  .grid {
    display: grid;
    border-radius: 0.15rem;
    overflow: hidden;

    height: 100%;
    position: relative;
    // grid-gap: calc(var(--padding) * 0.8);
  }
}
