.section {
  display: flex;
  gap: var(--paddding);
  .element {
    flex: 1;

    border: 1px solid #efefef;
    .content {
      display: grid;
      place-content: center;
      font-size: 3rem;
      padding: var(--padding);
    }
    header {
      text-align: center;
      width: 100%;
      background: #afafaf;
      display: grid;
      place-content: center;
      font-weight: 500;
      color: white;
      padding: var(--padding);
    }
  }
}
