.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--padding));

  border-radius: 1rem;
  position: relative;

  .description {
    .combiner {
      display: flex;
      flex-direction: column;
      gap: calc(var(--padding) / 2);
    }
  }
  section {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;

      button {
        all: unset;
        cursor: pointer;
        border-radius: 0.5rem;

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // border: 2px solid var(--grey);
        min-height: 4rem;
        color: var(--grey);
        // padding: var(--padding);
        box-shadow: 2px 2px 0 2px rgba(0, 0, 0, 0.1);
        background: var(--lightgrey);
        svg {
          flex: 1;
        }
        p {
          flex: 1;
        }
      }
    }

    input,
    textarea {
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 0.5rem;
      background: var(--lightgrey);
      border: none;
    }
    textarea {
      min-height: 100px;
      resize: none;
      max-height: 100px;
    }
    label {
      font-size: 1rem;
      font-weight: 500;
    }

    .drop {
      display: flex;
      flex-direction: column;
      gap: var(--padding);

      // align-items: center;
      // justify-content: center;
      // text-align: center;
      width: 100%;
      // border: 4px dashed #d5e2f0;

      border-radius: 0.75rem;
      input {
        display: none;
      }
      //   background-color: var(--lightgrey);

      span {
        border-radius: 50%;
        // background-color: var(--primary);
        display: grid;
        place-content: center;
        width: 3.5rem;
        height: 3.5rem;
        color: #d5e2f0;
        font-weight: 800;
      }
    }
  }
  .tabs {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 4px;
    display: none;
    button {
      border-radius: 0;
      flex: 1;
      padding: 1.5rem;
      color: white;
      background: var(--lightgrey);
      border: none;
      &:first-child {
        border-top-left-radius: 1rem;
      }
      &:last-child {
        border-top-right-radius: 1rem;
      }
    }
  }
  .under {
    position: absolute;
    bottom: 0;

    background: white;
    box-shadow: 0 0 32px 4px rgba(0, 0, 0, 0.15);
    z-index: -1;

    transition: all 250ms ease-out;
    padding: 1rem;
    width: calc(100% - 2rem);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 0;
    display: none;
    .triggerUnder {
      position: absolute;
      bottom: -2rem;
      right: 0;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      width: 4rem;
      height: 2rem;
      background: white;
      cursor: pointer;
      box-shadow: 0 24px 32px 4px rgba(0, 0, 0, 0.075);
      display: grid;
      place-content: center;
    }
  }
}
