.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #444;
  z-index: 101;
  transition: background-color 250ms ease;

  .before {
    position: absolute;
    height: 100%;
    width: 8px;
    background: var(--primary);
    content: "";
  }

  // padding: calc(var(--padding) * 0.8) calc(var(--padding) * 0.8);
  .todo {
    border-radius: 0.25rem;
    user-select: none;
    display: flex;
    justify-content: space-between;
    gap: var(--pad);
    padding-right: var(--pad);
    height: 100%;

    align-items: center;

    // background: #f1f8ff;
    position: relative;
    &:hover {
      .handle {
        opacity: 0.5;
      }
    }
    .handle {
      display: flex;
      align-items: center;
      opacity: 0;
      display: none;
    }
    .textWrap {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding-left: var(--pad);
      padding-right: var(--pad);
      justify-content: center;
      gap: var(--half-pad);
      overflow: hidden;
      .text {
        // padding: 0 calc(var(--padding) * 0.8);
        border: none;
        min-width: 0;
        outline: none;

        user-select: none;
        background: none;
        font-weight: 500;
        font-family: "Poppins";
        font-size: var(--font-size);
        &::placeholder {
          opacity: 0.5;
          font-weight: 400;
        }
      }
    }
    input[type="checkbox"] {
      width: 1.15rem;
      height: 1.15rem;
      color: #444;
      border: 2px solid var(--grey);

      border-radius: 4px;
      appearance: none;
      aspect-ratio: 1;
      outline: 0;
      position: relative;

      cursor: pointer;
      transition: background-color 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
      &:hover {
        border: 2px solid #444;
      }
      &::before {
        position: absolute;
        content: "";
        display: block;
        top: -2px;
        left: 3px;
        width: 6px;
        height: 12px;
        border-style: solid;
        border-color: white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
      }
      &:checked {
        color: white;
        border-color: #2d933f;
        background: #2d933f;
        &::before {
          opacity: 1;
        }
        ~ label::before {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
      }
    }
  }
}
