.inventory {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--padding);
  .item {
    aspect-ratio: 1;
    border: 1px solid #afafaf;
    display: grid;
    place-content: center;
  }
}
